*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#game{
    width: 500px;
    height: 500px;
    margin: auto;
    border: 1px solid black;
}

#btn{
    font-size: 2rem;
    padding: 0.5rem 2rem;
    margin:  1rem auto;
    border: 3px solid black;
    border-radius: 0.3rem;
    display: block;
    background-color: lightgreen;
}

#btn:active{
    background-color: red;
}

.slider{
    width: 100px;
    height: 20px;
    background-color: red;
    position: relative;
    visibility: hidden;
}
#slider1{
visibility: visible;
}
.animate{
    animation: slide 4s infinite linear;
}
@keyframes slide {
    0%{left:0px}
    50%{left:400px}
    100%{left:0px}
}